.package_body{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}
.package_card{
    width: 22%;
    border: solid rgb(173, 169, 169) 0.5px;
    box-shadow:  2px 2px 5px #888888;
    text-align: left;
}
.package_list{
    text-align: left;
    margin-right: 10px;
    height: 40%;
}
.package_image{
    width: 100%;
    height: 40%;
}
.submit_package{
    display: flex;
    width: 100%;    
    text-decoration: none;
    justify-content: center;
}
.package_btn{
    margin-right: 15px;
    padding-top: 5%;
    padding: 5px;
    border: none;
    background-color: rgba(176, 145, 101, 0.527);
}
.package_btn:hover {
    background-color: transparent;    
}
.gallary_header{
    padding-left: 3%;
    color: #211e1e;
}
.gallary_images{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
    width: 100%;
}
.gallary_image{
    width: 18%;
    height: 250px;
    border-radius: 5%;
}